@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*exercicio 01 - estilo*/
body{
    background-color: white;
    color: black;
    text-align: center;
}

.ex01{
    background-color: #606060;
    color: white;
}

/*exercicio 02 - estilo*/
.ex02{
    font-family: 'Lobster', cursive;
}
.ex02div01{
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}
.ex02div02{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.ex02div03{
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}
/*exercicio 03 - estilo*/
.ex03{
    background-image: url(../img/icone-contato.png);
    background-repeat: no-repeat;
    background-position: 95% 95%;
}
/*exercicio 04 - estilo*/
.ex04{
    width: 600px;
    margin: auto;
    box-shadow: 2px 2px rgba(0, 0, 0, .6);
    border-radius: 10px;
    border: 1px solid black;
    padding: 50px;
}
.ex04 li{
    list-style: none;
}
/*exercicio 05 - estilo*/
.ex05{
    display: inline-block;
    }
.ex05 img{
    width: 230px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
